name: Continuous Integration (CI)

on:
  workflow_call:

permissions: read-all

jobs:
  test-and-analyze:
    name: Run tests
    runs-on: ubuntu-22.04
    services:
      postgres:
        image: postgres:17-alpine
        env:
          POSTGRES_DB: mysawit
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Check out the Git repository
        uses: actions/checkout@v6
      - name: Set up Java toolchain
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "gradle"
      - name: Make gradlew executable
        run: chmod +x gradlew
      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Cache Gradle packages
        uses: actions/cache@v4
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle
      - name: Run build and test
        env:
          DB_URL: jdbc:postgresql://localhost:5432/mysawit
          DB_USERNAME: postgres
          DB_PASSWORD: postgres
        run: ./gradlew build
      - name: Generate JaCoCo report
        run: ./gradlew jacocoTestReport
      - name: Run SonarQube analysis
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
